#home-about div {
  display: flex;
  flex-direction: column;
}

#home-about .img {
  width: 100%;
  height: 15rem;
  background: url('../../../assets/hero.jpeg') no-repeat center / cover;
}

#home-about .paragraph {
  width: 100%;
  padding-top: 1rem;
}

/* -------------------- MEDIUM Devices -------------------- */
@media only screen and (min-width: 768px) {
  #home-about div {
    flex-direction: row;
  }

  #home-about .paragraph {
    padding-top: 0;
    padding-left: 1rem;
  }
}

/* -------------------- LARGER Devices -------------------- */
@media only screen and (min-width: 1024px) {
}
