.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--third-color);
}

.login form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: var(--border-radius);
  width: 25rem;
  background: var(--light-color);
  box-shadow: 0 0 2rem 1rem var(--dark-color);
}

.login form h2 {
  text-align: center;
}

.login form input {
  width: 100%;
}

.login form span {
  color: rgb(255, 49, 49);
  text-align: center;
  width: 100%;
  transition: var(--transition);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}
