.admin-page {
  background: white;
}

.admin-page h5 {
  text-transform: uppercase;
  color: var(--secondary-color);
}

.admin-page div {
  display: flex;
}

.admin-page div main {
  padding: 1rem;
  width: calc(100% - 14rem);
  margin-left: 14rem;
  margin-top: 3.5rem;
}
