.admin-page {
  background: white;
}

.admin-page h5 {
  text-transform: uppercase;
  color: var(--secondary-color);
}

.admin-page div {
  display: flex;
}

.admin-page div main {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 100%;
}
