#admin-page {
  background: white;
}

#admin-page h4 {
  text-align: center;
  border-bottom: 1px solid var(--light-grey-color);
  padding: 0.5rem 0;
  text-transform: uppercase;
  background: var(--light-color);
}

#admin-page h5 {
  text-transform: uppercase;
  color: var(--secondary-color);
}

#admin-page div {
  display: flex;
}

#admin-page div aside {
  border-right: 1px solid var(--light-grey-color);
  height: calc(100vh - 45px);
  width: 18rem;
  padding: 1.5rem 0 1.5rem 1.5rem;
}

#admin-page div aside h5 {
  font-weight: 700;
}

#admin-page div aside .admin-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
#admin-page div aside .admin-links a {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin: 0.1rem 0;
  padding: 0.2rem 0.8rem;
  font-weight: 400;
}

#admin-page div aside .admin-links a:hover {
  background: var(--primary-color);
  color: var(--third-color);
}

#admin-page div main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
